{% extends '@!EasyAdmin/page/content.html.twig' %}

{% block main %}
    <h3>Партии, проходящие заданную операцию</h3>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

    <table class="table datagrid with-rounded-top ">
        <thead>
        <tr>
            {% for field in fields %}
                <th class="text-"><span>{{ field }}</span></th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for item in data %}
            <tr>
                <td class="text- field-text-"><span>{{ item.id }}</span></td>
                <td class="text- field-text-"><span>{{ item.d_name }}</span></td>
                <td class="text- field-text-"><span>{{ item.batch }}</span></td>
                <td class="text- field-text-"><span>{{ item.e_name }}</span></td>
                <td class="text- field-text-"><span>{{ item.worker_id }}</span></td>
                <td class="text- field-text-"><span>{{ item.created_at }}</span></td>
                <td class="text- field-text-"><span>{{ (item.time/60)|round(2, 'floor') }} hours</span></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <tr>

    </tr>
{% endblock %}
